@use 'src/styles/vars' 
@use 'src/styles/utils' 

.cart
    *
    user-select: none
    .product
        display: flex
        min-height: 137px
    .product__overview
        @include utils.fxcol
        flex-grow: 1
        position: relative
    .product__overview > div:nth-child(2)
        flex-grow: 1
    
    .product__gallery
        position: relative
        background-color: vars.$c-white
        .selector
            position: absolute
            top: 0
            height: 100%
            display: flex
            align-items: center
        .selector.hidden
            visibility: hidden
            pointer-events: none
        .selector:nth-child(2)
            left: 0
            padding-left: 6px
            svg
                transform: scaleX(-1)
        .selector:nth-child(3)
            right: 0
            padding-right: 6px
    .product__gallery img
        width: 100%
        height: 100%
        object-fit: contain

    .options-box
        cursor: auto
        @include utils.fx0
    .selected-options
        display: flex
        gap: .5rem
        flex-wrap: wrap

.cart-empty
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    opacity: 0.5

.quantity-setter
    height: 100%
    @include utils.fxcol
    justify-content: space-between
    .add, .remove
        border: 1px solid black
    p
        width: 100%
        height: 100%
        @include utils.fx0