.cart
    .product + .product
        margin-top: 1rem
    .product
        display: flex
        min-height: 137px
    .product__overview
        display: flex
        flex-direction: column
        flex-grow: 1
        position: relative
    .product__overview > div:nth-child(2)
        flex-grow: 1