@use "/src/styles/utils"
@use "src/styles/vars"

.PLP
    padding-bottom: 5rem

    &__selector 
        margin-top: 5rem
        @include utils.container
        display: flex
        li + li
            margin-left: 5rem
        h1
            @include utils.xxxl
            color: vars.$gray
            transition: .2s
        h1:hover  
            color: vars.$c-text
        h1.active 
            color: vars.$c-text

    &__container
        margin-top: 6rem
        @include utils.container
        display: grid
        grid-column-gap: 3rem
        grid-row-gap: 7rem
        grid-template-columns: repeat(3, 1fr)

        .product
            position: relative
            opacity: 0.5
            aspect-ratio: 0.9
            padding: 1rem
            display: flex
            flex-direction: column
            gap: 2rem
            background: white
            transition: filter 0.2s
            .image
                position: relative
                width: 100%
                aspect-ratio: 1.1
                background-color: white
                img
                    width: 100%
                    aspect-ratio: 1.1
                    object-fit: contain
            .btn-wrapper
                position: absolute
                right: 15px
                bottom: -26px
                width: 52px
                height: 52px
            .add-to-cart-btn.stage, .btn-clone
                width: 100%
                height: 100%
                background-color: vars.$primary
                border-radius: 100%
                visibility: hidden
                opacity: 0
                transition: 0.3s
                z-index: 1000
            .add-to-cart-btn
                display: flex
                justify-content: center
                align-items: center
                img
                    width: 24px
                    height: 21px
                    filter: invert(1)
            .btn-clone
                position: absolute
                top: 0
                left: 0
                z-index: -1000
                filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1))

            .image h2 
                display: block
                @include utils.l(normal)
                user-select: none
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
            &__title
                display: flex
                flex-direction: row
                gap: 0.5ch
                > *
                    @include utils.m
                    color: vars.$c-black
                    font-weight: 300
            &__price
                h3
                    font-weight: 500
            

        // //  special stylings for in-stock products
        .product.in-stock
            cursor: pointer
            opacity: 1
            .image h2 
                display: none
        .product.in-stock:hover 
            filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19))
            .add-to-cart-btn, .btn-clone
                visibility: visible
                opacity: 1


.options-wrapper 
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    visibility: hidden
    opacity: 0
    .options-container
        padding: 1rem
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        position: absolute
        width: 100%
        height: 100%
        top: 100%
        left: 0
        background-color: rgba(255, 255, 255, 0.8)
        backdrop-filter: blur(3px)
        transition: .3s
        h2 
            @include utils.m 
            font-weight: bold
            font-family: "Roboto", sans-serif
            text-align: center
        h3 
            @include utils.l(bold)
.options-wrapper.open
    cursor: auto
    pointer-events: auto
    visibility: visible
    opacity: 1
    .options-container
        top: 0
    .options-container > div:first-child
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    .attribute-field
    .attribute-field + .attribute-field
        margin-top: 1.5rem
    .options-select
        max-width: 100%
        display: flex
        justify-content: center
        gap: 1rem
    .options-box
        cursor: pointer
        padding: 0.5rem 1rem
        text-align: center
        border: solid 1px black
        transition: .2s
        p
            @include utils.s
    .options-box.selected
        background-color: black
        color: white
    .add-to-cart-btn
        cursor: pointer
        margin-top: 1rem
        width: calc(100% - 2rem)
        padding: 1rem
        text-align: center
        color: white
        background-color: vars.$primary
        p 
            font-weight: 600
            @include utils.s