@mixin container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

@mixin fxcol {
  display: flex;
  flex-direction: column;
}

@mixin fx0 {
  display: flex;
  justify-content: center;
  align-items: center;
}
