@use "reset";
@use "vars";
@use "utils";

.App {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .views {
    width: 100%;
    flex-grow: 1;
  }
}

.options-box {
  border: 1px solid black;
  cursor: pointer;
}

.swatch {
  border-radius: 100%;
  aspect-ratio: 1;
  padding: 3px;
}

.swatch-option,
.box-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.swatch-option {
  --bg: "";
  align-items: center;
  border-radius: 100%;
  background-color: var(--bg);
}

.swatch-option.White {
  border: 1px solid black;
}

.swatch-option.White {
  border: 1px solid white;
}

button.disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}

.options-box.selected {
  background-color: black;
  color: white;
}

.quantity-setter > * {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    user-select: none;
  }
}
