@use 'src/styles/utils'
@use 'src/styles/vars' 
nav
    @include utils.container
    display: flex
    justify-content: space-between
    align-items: center
    > *
        min-width: 30%
        display: flex
    .sex
        h3
            @include utils.s
            padding: 1.5rem 1rem
            cursor: pointer
        .active
            color: vars.$primary
            font-weight: 600
            border-bottom: 2px solid vars.$primary

    .logo
        justify-content: center

    .utils
        justify-content: flex-end
        align-items: center
        > *
            cursor: pointer
        > * + *
            margin-left: 1.5rem
        .currency
            line-height: 1
            font-size: 18px
            font-weight: 500
            display: flex
            align-items: center
            gap: 0.5rem
        .currency img 
            margin-top: 5px