@use 'src/styles/utils'
@use 'src/styles/vars' 
nav
    @include utils.container
    display: flex
    justify-content: space-between
    align-items: center
    > *
        user-select: none
        min-width: 30%
        display: flex
    .sex
        h3
            @include utils.s
            padding: 1.5rem 1rem
            cursor: pointer
        .active
            color: vars.$primary
            font-weight: 600
            border-bottom: 2px solid vars.$primary

    .logo
        justify-content: center

    .utils-wrapper
        justify-content: flex-end
    .utils
        position: relative
        display: flex
        align-items: center
        > *:not(.modal)
            cursor: pointer
        > * + *:not(.modal)
            margin-left: 1.5rem
        .currency
            line-height: 1
            font-size: 18px
            font-weight: 500
            display: flex
            align-items: center
            gap: 0.5rem
        .currency img 
            margin-top: 5px
            transition: 0.2s
        .modal
            visibility: hidden
            opacity: 0
            background-color: white
            transition: .2s
            position: absolute
            top: 150%
        .currency-modal
            padding: 1rem 1.5rem
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-row-gap: 1rem
            left: 50%
            transform: translate(-50%, 0)
            filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19))
        .currency-modal li 
            display: contents
            cursor: pointer
            background-color: green
        .currency-modal li h3 
            @include utils.m
            font-weight: 500
        .currency-modal li h3:nth-child(2)
            padding-left: 1rem

    .utils.currency-open .currency img 
            transform: scale(-1, -1) 
    .utils.currency-open .currency-modal
            visibility: visible
            opacity: 1 